# Assignment 1 day 2

# 1) Lists and its default functions.

In [4]:
#lists
#list is a collection of objects or elements
#example for list
empnames=['Ram','Sita','geeta','Abhi']

In [7]:
#default functions

In [10]:
# 1)append():It is used to add elements to the last position of List.
# Adds List Element as value of List. 
List = ['English','Telugu','Maths','Science'] 
List.append('Social') 
print(List)

['English', 'Telugu', 'Maths', 'Science', 'Social']

In [11]:
#2)insert(): Inserts an elements at specified position.
# Insert at index 2 value 10087 
List.insert(4,'Computer')      
print(List)

['English', 'Telugu', 'Maths', 'Science', 'Computer', 'Social']

In [12]:
#3)extend(): Adds contents to List2 to the end of List1.
List1 = [1, 2, 3] 
List2 = [2, 3, 4, 5] 
  
# Add List2 to List1 
List1.extend(List2)         
print(List1) 
  
# Add List1 to List2 now 
List2.extend(List1)  
print(List2)

[1, 2, 3, 2, 3, 4, 5]
[2, 3, 4, 5, 1, 2, 3, 2, 3, 4, 5]

In [13]:
#4)sum() : Calculates sum of all the elements of List.
List = [1, 2, 3, 4, 5] 
print(sum(List))

15

In [14]:
#5)index(): Returns the index of first occurrence. Start and End index are not necessary parameters.
List3 = [1, 2, 3, 1, 2, 1, 2, 3, 2, 1] 
print(List3.index(2))

1

# 2)Dictionary and its default functions

In [31]:
#dictionary is a collection of keys and value
emp_dict={'empno':111,'empname':'Raju','empsal':1000}
print(emp_dict)

{'empno': 111, 'empname': 'Raju', 'empsal': 1000}

In [26]:
#1)len():this function returns the number of pairs
print(len(emp_dict))

3

In [27]:
#2)keys():this function is used to display keys of dictionary
print(emp_dict.keys())

dict_keys(['empno', 'empname', 'empsal'])

In [30]:
#3)values():this function is used to display values of dictionary
print(emp_dict.values())

dict_values([])

In [32]:
#4)copy():this method copies from 1 dictinary to another
mydict=emp_dict.copy()
print(mydict)

{'empno': 111, 'empname': 'Raju', 'empsal': 1000}

In [33]:
#5)clear():it clears a dictionary
emp_dict.clear()
print(emp_dict)

{}

# 3) Sets and its default functions

In [35]:
#sets are a collection of objects
myset={1,2,3,4,5}
print(myset)

{1, 2, 3, 4, 5}

In [46]:
#1)Add(): 
people = {"Jay", "Idrish", "Archi"} 
print("People:", end = " ") 
print(people) 
# This will add Daxit in the set 
people.add("Daxit")

People: {'Jay', 'Idrish', 'Archi'}

In [48]:
#2)Union:Two sets can be merged using union() function or | operator
people = {"Jay", "Idrish", "Archil"} 
singers = {"Karan", "Arjun"} 
dancers = {"Deepanshu", "Raju"} 
# Union using union() function 
audience = people.union(singers) 
  
print("Union using union() function") 
print(audience)

Union using union() function
{'Jay', 'Arjun', 'Karan', 'Archil', 'Idrish'}

In [51]:
#3)Intersection:Common Elements are selected.
set1 = {1,2,3,4,5}
set2 = {5,6,7,8,9,10} 
set3 = set1.intersection(set2) 
print("Intersection using intersection() function") 
print(set3)

Intersection using intersection() function
{5}

In [52]:
#4)Difference:To find difference in between sets. 
set1 = {1,2,3,4,5}
set2 = {5,6,7,8,9,10} 
print(" Difference of two sets using difference() function") 
print(set3)

 Difference of two sets using difference() function
{5}

In [53]:
#5)Clear():method empties the whole set.
set1 = {1,2,3,4,5,6}  
print(set1) 
  
# This method will remove all the elements of the set 
set1.clear() 
print(set1)

{1, 2, 3, 4, 5, 6}
set()

# 4)Tuple and its default functions

In [54]:
#Tuple:A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [57]:
#1)Join two tuples:To join two or more tuples you can use the + operator:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [58]:
#2)len():it gives the number of elements
mytuple=(1,2,3,4,5,6,7,8,9)
print("number of elements present in my tuple is",len(mytuple))

number of elements present in my tuple is 9

In [59]:
#3)min():this method returns the smallest value in a tuple.
print(min(mytuple))

1

In [60]:
#4)max():this method returns the smallest value in a tuple.
print(max(mytuple))

9

In [64]:
#5)index():this method returns the index value of the given element
mytuple=(1,2,3,4,5,6,7,8,9)
print(mytuple)
print("index of 4 is:",mytuple.index(4))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
index of 4 is: 3

# 5)Strings and its default functions

In [65]:
#In Python, a string is a sequence of Unicode characters
name="vighnatha"
print(name)

vighnatha

In [66]:
#1)len():this returns number of characters  which are in a string 
print(len(name))

9

In [68]:
#2)isupper():this method returns true if the given string is in uppercase else it returns false
name='VIGHNATHA'
print(name.isupper())

True

In [69]:
#3)islower():this method returns true if the given string is in lowercase else it returns false
name='vighnatha'
print(name.islower())

True

In [71]:
#4)isalnum():this method returns true if the given string contains alphabets or numbers otherwise it reurns fales.
string1='ram123'
print(string1.isalnum())
string2='ram@123'
print(string2.isalnum())

True
False

In [72]:
#5)split():this method splits the given string into words and store it as an array witin single quotes
string3="Believe in yourself a little more"
print(string3.split())

['Believe', 'in', 'yourself', 'a', 'little', 'more']